# .gitignore for ntuammai21s/hw1
hw1/.vscode/*
hw1/project/.vscode/*
hw1/data/*
hw1/data.zip
hw1/project/data/train/*
hw1/project/data/test/*
hw1/Angular-Penalty-Softmax-Losses-Pytorch
hw1/FaceX-Zoo
hw1/facenet
hw1/project/det_face.py
hw1/project/**/__pycache__/*